<header class="header row" style="background-color: aliceblue;">
  <!-- Start Header Navbar-->
  <div class="main-header">
      <div class="main-menu-wrap">
          <div class="container-fluide">
              <div class="row align-items-center">
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6">
                      <!-- Logo -->
                      <div class="logo">
                          <a href="index.html">
                              <img src="assets/img/logo.png" data-rjs="2" alt="ShuddhH2O">
                          </a>
                      </div>
                     
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-6 menu-button">
                      <div class="menu--inner-area clear-fix">
                          <div class="menu-wraper">
                              <nav>
                              
                                  <div class=" nav header-menu dosis">
                                      <ul class="navbar-nav">
                                          <li> <a class="nav-link" routerLink="/index">Home <img src="assets/img/line2.png" alt=""></a>
                                          </li>
                                          <li><a routerLink="/about">About<img src="assets/img/line2.png" alt=""></a></li>
                                          <li class="active"><a >Service<img src="assets/img/line2.png" alt=""></a>
                                              <ul>
                                                  <li class="active"><a routerLink="/service">Service</a></li>
                                                  <li><a routerLink="/servicedetails">Service Details</a></li>
                                              </ul>
                                          </li>
                                          <li><a routerLink='/Contact' >Contact<img src="assets/img/line2.png" alt=""></a></li>
                                      </ul>
                                  </div>
                                  <!--/. End of Header-menu -->
                              </nav>
                              <!--/.nav-->
                          </div>
                          <!--/.menu wrapper-->
                      </div>
                      <!--/.menu inner area-->
                  </div>
                  <!--/.col-->
                  <div class="col-lg-3 col-md-4 col-sm-4">
                      <div class="urgent-call text-right">
                          <!--Type your button logic here-->
                          <a routerLink="/cartdata"><i class="fa fa-2x fa-shopping-cart" aria-hidden="true"></i></a>
                          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                          <!--Type your button logic here-->
                         <a routerLink="/editProfile"> <i class="fa fa-2x fa-user" aria-hidden="true"></i></a>
                         &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                         <a (click)="logout()"><i class="fa fa-2x fa-sign-out" aria-hidden="true"></i></a>
                      
                       
                    
                      </div>
                  </div>

                  
                  <!--/.col-->
              </div>
              <!--/.row-->
          </div>
          <!--/.container-->
      </div>

      <!--<div class="container-fluid" >                                     
        <form class="newForm" #newForm="ngForm" (ngSubmit)= "ngSubmit()"  >
                <div class="col-md-6 col-md-offset-3">
                    <button type="submit"  class="btn btn-primary center-block">AddCart</button>
                    </div> 
            </form>
        </div>-->
  </div>
</header>
