<app-header></app-header>

<!DOCTYPE html>
<html lang="en">


<body>
  
    <div class="page-title-wrap primary-bg">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- page title content -->
                    <div class="page-title-content text-center">
                        <ul class="mb-0 list-unstyle nav">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                        <h1 class="h2">About Us</h1>
                    </div><!-- /.End of page title content -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!--/.End of page title -->

     <!-- our blog -->
    <section class="pt-120 pb-90 top-shape">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- single blog inner -->
                    <div class="single-blog-inner about-me">
                        <!-- blog image -->
                        <div class="post-image">
                            <a href="#">
                                <img src="assets/img/blog/blog4.png" alt="">
                            </a>
                        </div><!--/.End of  blog image -->

                        <!-- post content -->
                        <div class="post-content">
                            <div class="post-details">
                                <div class="post-title">
                                    <h3>Our Mission</h3>
                                </div>
                                <p>There are many variations of passages of available but majority have alteration in some by inject humour or random words.</p>
                                <a href="#"><i class="fa fa-arrow-circle-o-right"></i>More</a>
                            </div>
                        </div><!-- /.End of post content -->
                    </div><!-- /.End of single blog inner -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- single blog inner -->
                    <div class="single-blog-inner about-me">
                        <!-- blog image -->
                        <div class="post-image">
                            <a href="#">
                                <img src="assets/img/blog/blog5.png" alt="">
                            </a>
                        </div><!--/.End of  blog image -->

                        <!-- post content -->
                        <div class="post-content">
                            <div class="post-details">
                                <div class="post-title">
                                    <h3>We Deliver</h3>
                                </div>
                                <p>There are many variations of passages of available but majority have alteration in some by inject humour or random words.</p>
                                <a href="#"><i class="fa fa-arrow-circle-o-right"></i>More</a>
                            </div>
                        </div><!--/.End of post content -->
                    </div><!-- /.End of single blog inner -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- single blog inner -->
                    <div class="single-blog-inner about-me">
                        <!-- blog image -->
                        <div class="post-image">
                            <a href="#">
                                <img src="assets/img/blog/blog6.png" alt="">
                            </a>
                        </div><!--/.End of  blog image -->

                        <!-- post content -->
                        <div class="post-content">
                            <div class="post-details">
                                <div class="post-title">
                                    <h3>The Best</h3>
                                </div>
                                <p>There are many variations of passages of available but majority have alteration in some by inject humour or random words.</p>
                                <a href="#"><i class="fa fa-arrow-circle-o-right"></i>More</a>
                            </div>
                        </div><!-- /.End of post content -->
                    </div><!--/.End of single blog inner -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.End of our blog -->
    
    <!-- about area -->
    <section class="pt-120 pb-140 primary-bg">
       <div class="container">
           <div class="row align-items-center">
               <div class="col-lg-6">
                   <div class="about-image">
                       <img src="assets/img/about-img.png" alt="">
                   </div>
               </div>
               <div class="col-lg-6">
                   <!-- about inner -->
                   <div class="about-wrap">
                       <!-- section title -->
                        <div class="section-title type2">
                            <span class="schoolbell">Shortly About Us</span>
                            <h2>Learn About ShuddhH2O</h2>
                        </div>
                       <!-- End of section title -->
                       <div class="about-area-text">
                           <p>There are many variations of passages of available but the majority have alteration in some form by inject humour or random words which don't look even slightly they will believe you. proident.</p>
                           <div class="about-counter-inner">
                               <div class="row">
                                   <div class="col-12 col-sm-6">
                                       <!-- single counter -->
                                       <div class="single-counter-inner text-center">
                                           <div class="counter-image">
                                               <img src="assets/img/icons/water-bottle(2).svg" class="svg" alt="">
                                           </div>
                                           <span class="counter">6780</span>
                                           <p>Bottles Delivered</p>
                                       </div><!-- /.End of single counter -->
                                   </div>
                                   <div class="col-12 col-sm-6">
                                       <!-- single counter -->
                                       <div class="single-counter-inner text-center">
                                           <div class="counter-image">
                                               <img src="assets/img/icons/water-bottle(1).svg" class="svg" alt="">
                                           </div>
                                           <span class="counter">8430</span>
                                           <p>Satisfied Customer</p>
                                       </div><!-- /.End of single counter -->
                                   </div><!-- /.col -->
                               </div><!-- /.row -->
                           </div><!-- /.about container -->
                       </div><!-- /.about area text -->
                   </div><!-- /.End of about inner -->
               </div><!-- /.col -->
           </div><!-- /.row -->
       </div><!-- /.container -->
    </section> <!--/.End of about area -->

    

    <!-- testimonial area -->
    <section class="pt-120 pb-110 blue-bg2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    <!-- section title -->
                    <div class="section-title text-center">
                        <span class="schoolbell">Our Feedbacks</span>
                        <h2 class="text-white">Testimonials</h2>
                    </div>
                    <!-- End of section title -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="testionial-carousel-wrap type2">
                        <div class="testionial-carousel2 owl-carousel">
                           <!-- single testimonial -->
                           <div class="single-testimonial text-center">
                               <div class="testi-quate">
                                   <img src="assets/img/qort-icon.png" alt="">
                               </div>
                               <p>There are many variations of passages of available but the majority have alteration in some form by inject humour or random words which don't look even slightly they will believe you.</p>
                               <div class="testimonial-author">
                                   <div class="testimonial-author-deg">
                                        <h4>Kevin Martin</h4>
                                        <p>Manager</p>
                                   </div>
                                   <img src="assets/img/team/author4.png" alt="">
                               </div>
                           </div><!-- /.End of single testimonial -->
                           
                           <!-- single testimonial -->
                           <div class="single-testimonial text-center">
                               <div class="testi-quate">
                                   <img src="assets/img/qort-icon.png" alt="">
                               </div>
                               <p>There are many variations of passages of available but the majority have alteration in some form by inject humour or random words which don't look even slightly they will believe you.</p>
                               <div class="testimonial-author">
                                   <div class="testimonial-author-deg">
                                        <h4>Kevin Martin</h4>
                                        <p>Manager</p>
                                   </div>
                                   <img src="assets/img/team/author4.png" alt="">
                               </div>
                           </div> <!-- /.End of single testimonial -->
                        </div><!-- /.testionial carousel2 -->
                    </div><!-- /.testionial carousel wrap -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.End of testimonial area -->

    <!-- our partner -->
    <section class="pt-120 pb-120 boxed-shadow top-shape">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- partner carosel inner -->
                    <div class="partner-carousel-wrap">
                        <div class="partner-carousel owl-carousel">
                            <!-- single partner -->
                            <div class="single-partner">
                                <img src="assets/img/partner.png" alt="">
                            </div>
                            <!-- End of single partner -->

                            <!-- single partner -->
                            <div class="single-partner">
                                <img src="assets/img/partner.png" alt="">
                            </div>
                            <!-- End of single partner -->

                            <!-- single partner -->
                            <div class="single-partner">
                                <img src="assets/img/partner.png" alt="">
                            </div>
                            <!-- End of single partner -->

                            <!-- single partner -->
                            <div class="single-partner">
                                <img src="assets/img/partner.png" alt="">
                            </div>
                            <!-- End of single partner -->
                        </div>
                    </div><!--/.partner carosel wrap -->
                </div><!--/.col -->
            </div><!--/.row -->
        </div><!--/.container -->
    </section><!-- End of our partner -->
    
    <!-- footer -->
    <footer class="footer secondery-bg">
        <div class="footer-top pt-110 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <!-- footer widget -->
                        <div class="footer-widget">
                            <div class="widget-title">
                                <h3>Address</h3>
                            </div>
                            <p>Sample Address, Indore (M.P.)</p>
                        </div><!-- /.End of footer widget -->
                    </div><!--/.col-->
    
                    <div class="col-md-4">
                        <!-- footer widget -->
                        <div class="footer-widget text-center">
                            <div class="widget-title">
                                <h3>Follow</h3>
                            </div>
                            <div class="footer-social-area">
                                <ul class="social-list mb--0 list-unstyled">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div><!-- End of footer widget -->
                    </div><!--/.col-->
    
                    <div class="col-md-4">
                        <!-- footer widget -->
                        <div class="footer-widget text-right">
                            <div class="widget-title">
                                <h3>Contact</h3>
                            </div>
                            <div class="footer-contact-info">
                                <a href="#">+91-1234567890</a>
                                <a href="#">info@shuddhh20.com</a>
                            </div>
                        </div><!-- /.End of footer widget -->
                    </div><!--/.col-->
                </div><!--/.row-->
            </div><!--/.container-->
        </div><!--/.footer bottom-->
        <div class="footer-bottom text-center">
            <div class="footer-bottom-text">
                <p>© Copyright 2018 @<a href="#">ShuddhH20</a></p>
            </div>
        </div><!--/.footer bottom-->
    </footer><!-- /.End of footer -->

    <!-- back to top -->
    <div class="back-to-top">
        <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div>
    
    
    </body>
    
    
<!-- Mirrored from layerdrops.com/ShuddhH2O/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 01 Feb 2019 18:52:18 GMT -->
</html>