<app-header></app-header>
<body>

  <div class="page-title-wrap primary-bg">
      <div class="container">
          <div class="row">
              <div class="col">
                  <!-- page title content -->
                  <div class="page-title-content text-center">
                      <ul class="mb-0 list-unstyle nav">
                          <li><a routerLink="/index">Home</a></li>
                          <li><a routerLink="/servicedetails">services</a></li>
                      </ul>
                      <h1 class="h2">Our Service</h1>
                  </div><!--/.End of page title content -->
              </div><!-- /.col-->
          </div><!-- /.row-->
      </div><!-- /.container-->
  </div><!-- End of page title -->

  <!-- bottole deliver -->
  <section class="pt-120 pb-90 top-shape">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-lg-4">
                  <!-- single bottle deliver wrap -->
                  <div class="single-bottle-inner text-center">
                      <div class="bottle-image">
                          <img src="assets/img/icons/water-gallon.svg" alt="" class="svg">
                      </div>
                      <div class="single-bottle-text">
                          <h4>10 Litre Gallon</h4>
                          <p>Ziasy Technologies Ziasy Technologies Ziasy</p>
                          <a class="btn btn-warning" routerLink="/fromcat"><i class="fa fa-arrow-circle-o-right"></i>Order</a>
                      </div>
                  </div><!-- /.End of single bottle deliver wrap -->
              </div><!-- /.col-->
              <div class="col-md-6 col-lg-4">
                  <!-- single bottle deliver wrap -->
                  <div class="single-bottle-inner text-center">
                      <div class="bottle-image">
                          <img src="assets/img/icons/big-bottle-of-water.svg" alt="" class="svg">
                      </div>
                      <div class="single-bottle-text">
                          <h4>20 Litre Gallon</h4>
                          <p>Ziasy Technologies Ziasy Technologies Ziasy</p>
                          <a class="btn btn-warning" routerLink="/fromcat"><i class="fa fa-arrow-circle-o-right"></i>Order</a>
                      </div>
                  </div><!--/. End of single bottle deliver wrap -->
              </div><!-- /.col-->
              <div class="col-md-6 col-lg-4">
                  <!-- single bottle deliver wrap -->
                  <div class="single-bottle-inner text-center">
                      <div class="bottle-image">
                          <img src="assets/img/icons/water-bottle.svg" alt="" class="svg">
                      </div>
                      <div class="single-bottle-text">
                          <h4>1 Litre Gallon</h4>
                          <p>Ziasy Technologies Ziasy Technologies Ziasy</p>
                          <a class="btn btn-warning" routerLink="/fromcat"><i class="fa fa-arrow-circle-o-right"></i>Order</a>
                      </div>
                  </div><!-- End of single bottle deliver wrap -->
              </div><!-- /.col-->
              <div class="col-md-6 col-lg-4">
                  <!-- single bottle deliver wrap -->
                  <div class="single-bottle-inner text-center">
                      <div class="bottle-image">
                          <img src="assets/img/icons/water-bottle(2).svg" alt="" class="svg">
                      </div>
                      <div class="single-bottle-text">
                          <h4>Water Bottles Set</h4>
                          <p>Ziasy Technologies Ziasy Technologies Ziasy</p>
                          <a class="btn btn-warning" routerLink="/fromcat"><i class="fa fa-arrow-circle-o-right"></i>Order</a>
                      </div>
                  </div><!-- /.End of single bottle deliver wrap -->
              </div><!-- /.col-->
              <div class="col-md-6 col-lg-4">
                  <!-- single bottle deliver wrap -->
                  <div class="single-bottle-inner text-center">
                      <div class="bottle-image">
                          <img src="assets/img/icons/water-bottle(1).svg" alt="" class="svg">
                      </div>
                      <div class="single-bottle-text">
                          <h4>2 Litre Gallon</h4>
                          <p>Ziasy Technologies Ziasy Technologies Ziasy</p>
                          <a class="btn btn-warning" routerLink="/fromcat"><i class="fa fa-arrow-circle-o-right"></i>Order</a>
                      </div>
                  </div><!-- /.End of single bottle deliver wrap -->
              </div><!-- /.col-->
              <div class="col-md-6 col-lg-4">
                  <!-- single bottle deliver wrap -->
                  <div class="single-bottle-inner text-center">
                      <div class="bottle-image">
                          <img src="assets/img/icons/big-bottle-of-water-with-handle.svg" alt="" class="svg">
                      </div>
                      <div class="single-bottle-text">
                          <h4>5 Litre Gallon</h4>
                          <p>Ziasy Technologies Ziasy Technologies Ziasy</p>
                          <a class="btn btn-warning" routerLink="/fromcat"><i class="fa fa-arrow-circle-o-right"></i>Order</a>
                      </div>
                  </div><!-- /.End of single bottle deliver wrap -->
              </div><!-- /.col-->
          </div><!-- /.row-->
      </div><!-- /.container-->
  </section><!-- /.End of bottole deliver -->

  <!-- feature area type2-->
  <section>
      <div class="features-inner type2 pt-120 pb-80">
          <div class="container">
              <div class="row">
                  <div class="col-md-6 col-lg-3">
                      <!-- single featuer inner -->
                      <div class="single-feature text-center">
                          <!-- <img src="assets/img/icons/feature1.svg" class="svg" alt=""> -->
                          <h3>Purity to the Max</h3>
                      </div><!-- /.End of single featuer inner -->
                  </div><!-- /.col-->
                  <div class="col-md-6 col-lg-3">
                      <!-- single featuer inner -->
                      <div class="single-feature text-center">
                          <!-- <img src="assets/img/icons/feature2.svg" class="svg" alt=""> -->
                          <h3>Health Certificates</h3>
                      </div><!-- /.End of single featuer inner -->
                  </div><!-- /.col-->
                  <div class="col-md-6 col-lg-3">
                      <!-- single featuer inner -->
                      <div class="single-feature text-center">
                          <!-- <img src="assets/img/icons/feature3.svg" class="svg" alt=""> -->
                          <h3>Quality Water Standard</h3>
                      </div><!-- /.End of single featuer inner -->
                  </div><!-- /.col-->
                  <div class="col-md-6 col-lg-3">
                      <!-- single featuer inner -->
                      <div class="single-feature text-center">
                          <!-- <img src="assets/img/icons/feature4.svg" class="svg" alt=""> -->
                          <h3>Deep Water Filtration</h3>
                      </div><!--/. End of single featuer inner -->
                  </div><!-- /.col-->
              </div><!-- /.row-->
          </div><!-- /.container-->
      </div><!-- /.features inner-->
  </section><!-- End of feature area -->

   <!-- our blog -->
  <section class="pt-120 pb-90">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-6">
                  <!-- single blog inner -->
                  <div class="single-blog-inner about-me">
                      <!-- blog image -->
                      <div class="post-image">
                          <a >
                              <!-- <img src="assets/img/blog/blog4.png" alt=""> -->
                          </a>
                      </div><!--/.End of  blog image -->

                      <!-- post content -->
                      <div class="post-content">
                          <div class="post-details">
                              <div class="post-title">
                                  <h3>Our Mission</h3>
                              </div>
                              <p>There are many variations of passages of available but majority have alteration in some by inject humour or random words.</p>
                              <a ><i class="fa fa-arrow-circle-o-right"></i>More</a>
                          </div>
                      </div><!-- /.End of post content -->
                  </div><!-- End of single blog inner -->
              </div><!-- /.col-->
              <div class="col-lg-4 col-md-6">
                  <!-- single blog inner -->
                  <div class="single-blog-inner about-me">
                      <!-- blog image -->
                      <div class="post-image">
                          <a>
                              <!-- <img src="assets/img/blog/blog5.png" alt=""> -->
                          </a>
                      </div><!--/.End of  blog image -->

                      <!-- post content -->
                      <div class="post-content">
                          <div class="post-details">
                              <div class="post-title">
                                  <h3>We Deliver</h3>
                              </div>
                              <p>There are many variations of passages of available but majority have alteration in some by inject humour or random words.</p>
                              <a ><i class="fa fa-arrow-circle-o-right"></i>More</a>
                          </div>
                      </div><!--/. End of post content -->
                  </div><!--/. End of single blog inner -->
              </div><!-- /.col-->
              <div class="col-lg-4 col-md-6">
                  <!-- single blog inner -->
                  <div class="single-blog-inner about-me">
                      <!-- blog image -->
                      <div class="post-image">
                          <a >
                              <!-- <img src="assets/img/blog/blog6.png" alt=""> -->
                          </a>
                      </div><!--/.End of  blog image -->

                      <!-- post content -->
                      <div class="post-content">
                          <div class="post-details">
                              <div class="post-title">
                                  <h3>The Best</h3>
                              </div>
                              <p>There are many variations of passages of available but majority have alteration in some by inject humour or random words.</p>
                              <a ><i class="fa fa-arrow-circle-o-right"></i>More</a>
                          </div>
                      </div><!-- /.End of post content -->
                  </div><!-- /.End of single blog inner -->
              </div><!-- /.col-->
          </div><!-- /.row-->
      </div><!-- /.container-->
  </section><!-- /.End of our blog -->
  
  <!-- our partner -->
  <section class="pt-120 pb-120 boxed-shadow">
      <div class="container">
          <div class="row">
              <div class="col">
                  <!-- partner carosel inner -->
                  <div class="partner-carousel-wrap">
                      <div class="partner-carousel owl-carousel">
                          <!-- single partner -->
                          <div class="single-partner">
                              <img src="assets/img/partner.png" alt="">
                          </div><!-- /.End of single partner -->

                          <!-- single partner -->
                          <div class="single-partner">
                              <img src="assets/img/partner.png" alt="">
                          </div><!-- /.End of single partner -->

                          <!-- single partner -->
                          <div class="single-partner">
                              <img src="assets/img/partner.png" alt="">
                          </div><!--/. End of single partner -->

                          <!-- single partner -->
                          <div class="single-partner">
                              <img src="assets/img/partner.png" alt="">
                          </div><!--/. End of single partner -->
                      </div>
                  </div><!--/.End of  partner carosel inner -->
              </div><!-- /.col-->
          </div><!-- /.row-->
      </div><!-- /.container-->
  </section><!-- /.End of our partner -->
  
   <!-- footer -->
  <footer class="footer secondery-bg">
      <div class="footer-top pt-110 pb-70">
          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                      <!-- footer widget -->
                      <div class="footer-widget">
                          <div class="widget-title">
                              <h3>Address</h3>
                          </div>
                          <p>Sample Address, Indore (M.P.)</p>
                      </div><!-- /.End of footer widget -->
                  </div><!--/.col-->
  
                  <div class="col-md-4">
                      <!-- footer widget -->
                      <div class="footer-widget text-center">
                          <div class="widget-title">
                              <h3>Follow</h3>
                          </div>
                          <div class="footer-social-area">
                              <ul class="social-list mb--0 list-unstyled">
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                              </ul>
                          </div>
                      </div><!-- End of footer widget -->
                  </div><!--/.col-->
  
                  <div class="col-md-4">
                      <!-- footer widget -->
                      <div class="footer-widget text-right">
                          <div class="widget-title">
                              <h3>Contact</h3>
                          </div>
                          <div class="footer-contact-info">
                              <a href="#">+91-1234567890</a>
                              <a href="#">info@shuddhh20.com</a>
                          </div>
                      </div><!-- /.End of footer widget -->
                  </div><!--/.col-->
              </div><!--/.row-->
          </div><!--/.container-->
      </div><!--/.footer bottom-->
      <div class="footer-bottom text-center">
          <div class="footer-bottom-text">
              <p>© Copyright 2018 @<a >ShuddhH20</a></p>
          </div>
      </div><!--/.footer bottom-->
  </footer><!-- /.End of footer -->

  <!-- back to top -->
  <div class="back-to-top">
      <a ><i class="fa fa-chevron-up"></i></a>
  </div>
  
  </body>
