



<html lang="en">
<body>
    
    
    <div class="banner_area1 clearfix ankit_bcg">
            <div class="slider_overlay_area slider_height">
                <div class="container slider_height">
                    <div class="row slider_height">
                        <div class="col-md-5 offset-md-7 slider_height">
                            <div class="banner-delivery-form">
                                <div class="form-header text-center">
                                    <h2>Login Page</h2>
                                </div>

                                <div class="container-fluid" >
                                    <form class="newForm" #newForm="ngForm"  (ngSubmit)= "onSubmit()"  >
                                        <div class="row banner-form">
                                                <div class="col-lg-12">        
                                                        <div class="form-group">
                                                          <input type="number" required #mobile="ngModel" class="form-control" name="mobile" placeholder="mobile" [(ngModel)]="userModel.mobile">
                                                          <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="alert alert-danger">
                                                          <div *ngIf="mobile.errors.required">
                                                            Mobile Number is required.
                                                         </div>
                                                         </div>
                                                        </div>
                                                       </div>

                                                       <div class="col-lg-12">  
                                                            <div class="form-group">
                                                              <input type="password" required #password="ngModel" class="form-control" name="password" placeholder="password" [(ngModel)]="userModel.password">
                                                              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                                                                    <div *ngIf="password.errors.required">
                                                                      Password is required.
                                                                   </div>
                                                                   </div>
                                                                   </div>
                                                                </div>

                
                            <div class="submite-btn text-center">
                            <button type="submit"  class="btn btn-primary center-block" >submit</button>
                            </div>
                          

                            
                        </div>
                            </form>

                          </div> &nbsp;&nbsp; &nbsp;&nbsp;
                          <a  routerLink="/singup">Singup</a>
                          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <a  routerLink="/forgotPass">Forgote_Password</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="camera_wrap " id="banner_slider1">
                <div class="hero_slider1" data-src="./src/assets/img/banner/h3-banner1.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                            
                                <div class="banner-text-wrap">
                                    <span class="schoolbell fadeInUp" style="animation-duration: 1s; -webkit-animation-duration: 1s; animation-fill-mode: both; animation-delay: .0s;-webkit-animation-delay: .0s;">Enjoy great tasting bottled water</span>
                                    <h1 class="text-white fadeInUp" style="animation-duration: 1s; -webkit-animation-duration: 1s; animation-fill-mode: both; animation-delay: .2s;-webkit-animation-delay: .3s;">We deliver the<br> best pure mineral water</h1>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>








    <!-- <section class="pt-90 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    
                    <div class="contact-form contact-page-form parsley-validate">

                            <div class="container-fluid" >
                                    <form class="newForm" #newForm="ngForm" (ngSubmit)= "onSubmit()"  >
                                    
                                            <div class="col-md-6">        
                                                    <div class="form-group">
                                                      <input type="number" required #mobile="ngModel" class="form-control" name="mobile" placeholder="mobile" [(ngModel)]="userModel.mobile">
                                                      <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="alert alert-danger">
                                                      <div *ngIf="mobile.errors.required">
                                                        Username is required.
                                                     </div>
                                                     </div>
                                                    </div>
                                                   </div>
                                          
                                                   <div class="col-md-6">  
                                                    <div class="form-group">
                                                      <input type="text" required #password="ngModel" class="form-control" name="password" placeholder="password" [(ngModel)]="userModel.password">
                                                      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                                                            <div *ngIf="password.errors.required">
                                                              Username is required.
                                                           </div>
                                                           </div>
                                                  </div>
                                                   </div> 

                            <div class="submite-btn text-center">
                              <button type="submit"  class="btn btn-primary center-block" >submit</button>
                            </div>
        
                            </form>

                            <form class="newForm" #newForm="ngForm" (ngSubmit)= "ngSubmit()"  >
                                <div class="col-md-6 col-md-offset-3">
                                    <button type="submit"  class="btn btn-primary center-block">Sinup_Page</button>
                                    </div>      
                            </form>


                            <form class="newForm" #newForm="ngForm" (ngSubmit)= "nFSubmit()"  >
                                <div class="col-md-6 col-md-offset-3">
                                    <button type="submit"  class="btn btn-primary center-block">Forgot_Password</button>
                                    </div>      
                            </form>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!-- <div class="page-title-wrap primary-bg" style="height:50px;">
        <div class="container">
            <div class="col">
                    <div class="page-title-content text-center">
                    </div>
                    
                </div>
        </div>
    </div> -->

    <footer class="footer secondery-bg">
        <div class="footer-top pt-110 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
              
                        <div class="footer-widget">
                            <div class="widget-title">
                                <h3>Address</h3>
                            </div>
                            <p>Sample Address, Indore</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                    
                        <div class="footer-widget text-center">
                            <div class="widget-title">
                                <h3>Follow</h3>
                            </div>
                            <div class="footer-social-area">
                                <ul class="social-list mb--0 list-unstyled">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                       
                        <div class="footer-widget text-right">
                            <div class="widget-title">
                                <h3>Contact</h3>
                            </div>
                            <div class="footer-contact-info">
                                <a href="">+91-98765 43210</a>
                                <a href="">info@bookthewater.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <div class="footer-bottom-text">
                <p>© Copyright 2019 by <a href="#">BooktheWater.com</a></p>
            </div>
        </div>
    </footer>
 

    <!-- back to top -->
    <div class="back-to-top">
        <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div>
    
    </body>
</html>















        <!-- <div class="banner_area1 clearfix ankit_bcg">
            <div class="slider_overlay_area slider_height">
                <div class="container slider_height">
                    <div class="row slider_height">
                        <div class="col-md-5 offset-md-7 slider_height">
                            <div class="banner-delivery-form">
                                <div class="form-header text-center">
                                    <h2>Book Your ShuddhH2O</h2>
                                </div>

                                <div class="container-fluid" >
                                    <form class="newForm" #newForm="ngForm"  (ngSubmit)= "onSubmit()"  >
                                        <div class="row banner-form">
                                            <div class="col-lg-12">       
                                                    <div class="form-group">
                                                      <input type="text" required #name="ngModel"   class="form-control" name="name" placeholder="Name" [(ngModel)]="userModel.name" >
                                                    </div>
                                                   </div>
                                                   <div class="col-lg-12">      
                                                    <div class="form-group">
                                                      <input type="email" required #email="ngModel" class="form-control" name="email" placeholder="Email" [(ngModel)]="userModel.email">
                                                    </div>
                                                   </div>

                                                   <div class="col-lg-12">    
                                                    <div class="form-group">
                                                      <input type="text" required #number="ngModel" class="form-control" name="mobile" placeholder="Mobile" [(ngModel)]="userModel.mobile">
                                                    </div>
                                                   </div>
                                                   <div class="col-lg-12">     
                                                    <div class="form-group">
                                                      <input type="text" required #address="ngModel" class="form-control" name="address" placeholder="Address"  [(ngModel)]="userModel.address">
                                                    </div>
                                                   </div>


                                                   <div class="col-lg-12">     
                                                    <div class="form-group">
                                                      <input type="number" required #number="ngModel" class="form-control" name="number" placeholder="Number Of Bottles"  [(ngModel)]="userModel.number">
                                                    </div>
                                                   </div>
                            
                            <div class="submite-btn text-center">
                              <button type="submit"  class="btn btn-primary btn-lg margin-left center-block" >submit</button>
                            </div>
                            
                        </div>
                            </form>
                          </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="camera_wrap " id="banner_slider1">
                <div class="hero_slider" data-src="./src/assets/img/banner/h3-banner1.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                            
                                <div class="banner-text-wrap">
                                    <span class="schoolbell fadeInUp" style="animation-duration: 1s; -webkit-animation-duration: 1s; animation-fill-mode: both; animation-delay: .0s;-webkit-animation-delay: .0s;">Enjoy great tasting bottled water</span>
                                    <h1 class="text-white fadeInUp" style="animation-duration: 1s; -webkit-animation-duration: 1s; animation-fill-mode: both; animation-delay: .2s;-webkit-animation-delay: .3s;">We deliver the<br> best pure mineral water</h1>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        

     -->
