
<app-header></app-header>


<html lang="en">




<body>
   
    <div class="page-title-wrap primary-bg">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- page title content -->
                    <div class="page-title-content text-center">
                        <ul class="mb-0 list-unstyle nav">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                        <h1 class="h2">Get In Touch</h1>
                    </div>
                    <!-- End of page title content -->
                </div><!--/.col-->
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.End of page title -->
    
    <!-- contact info -->
    <section class="pt-120 top-shape">
        <div class="conatct-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <!-- single contact info -->
                        <div class="single-conatct-info">
                            <h4>Email</h4>
                            <p>info@bookthewater.com</p>
                        </div>
                        <!-- End of single contact info -->
                    </div>
                    <div class="col-md-4">
                        <!-- single contact info -->
                        <div class="single-conatct-info">
                            <h4>Address</h4>
                            <p>Sample Address, Indore (M.P.)</p>
                        </div>
                        <!-- End of single contact info -->
                    </div>
                    <div class="col-md-4">
                        <!-- single contact info -->
                        <div class="single-conatct-info">
                            <h4>Contact</h4>
                            <a href="#">+91-98765 43210</a>
                        </div>
                        <!-- End of single contact info -->
                    </div><!--/.col-->
                </div><!--/.row-->
            </div><!--/.container-->
        </div><!--/.contact info-->
    </section><!-- /.End of contact info -->

    <!-- contact form -->
    <section class="pt-90 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    <!-- section title -->
                    <div class="section-title text-center">
                        <span class="schoolbell">Contact Us</span>
                        <h2>Send Message</h2>
                    </div>
                    <!-- End of section title -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <!-- contact form -->
                    <div class="contact-form contact-page-form parsley-validate">
                        <form action="http://layerdrops.com/mineralo/sendmail.php" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="name" placeholder="Full Name" class="theme-input-style" required>
                                </div>
                                <div class="col-md-6">
                                    <input type="email" name="email" placeholder="Email Address" class="theme-input-style" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea name="message" placeholder="Write Message" class="theme-input-style"></textarea>
                                    <div class="submite-btn text-center">
                                        <button type="submit" class="btn">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form><!--/.form-->
                    </div><!-- /.End of contact form -->
                </div><!--/.col-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/.End ofcontact form -->

    
    <!-- footer -->
    <footer class="footer secondery-bg">
        <div class="footer-top pt-110 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <!-- footer widget -->
                        <div class="footer-widget">
                            <div class="widget-title">
                                <h3>Address</h3>
                            </div>
                            <p>Sample Address, Indore</p>
                        </div><!-- /.End of footer widget -->
                    </div><!--/.col-->

                    <div class="col-md-4">
                        <!-- footer widget -->
                        <div class="footer-widget text-center">
                            <div class="widget-title">
                                <h3>Follow</h3>
                            </div>
                            <div class="footer-social-area">
                                <ul class="social-list mb--0 list-unstyled">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div><!-- End of footer widget -->
                    </div><!--/.col-->

                    <div class="col-md-4">
                        <!-- footer widget -->
                        <div class="footer-widget text-right">
                            <div class="widget-title">
                                <h3>Contact</h3>
                            </div>
                            <div class="footer-contact-info">
                                <a href="">+91-98765 43210</a>
                                <a href="">info@bookthewater.com</a>
                            </div>
                        </div><!-- /.End of footer widget -->
                    </div><!--/.col-->
                </div><!--/.row-->
            </div><!--/.container-->
        </div><!--/.footer bottom-->
        <div class="footer-bottom text-center">
            <div class="footer-bottom-text">
                <p>© Copyright 2019 by <a href="#">BooktheWater.com</a></p>
            </div>
        </div><!--/.footer bottom-->
    </footer><!-- /.End of footer -->
 

    <!-- back to top -->
    <div class="back-to-top">
        <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div>
    <!-- back to top -->


   
    
    </body>
    
    

</html>