
<app-header></app-header>

<body>
        <div class="banner_area1 clearfix ankit_bcg">
            <div class="slider_overlay_area slider_height">
                <div class="container slider_height">
                    <div class="row slider_height">
                        <div class="col-md-5 offset-md-7 slider_height">
                            <div class="banner-delivery-form">
                                <div class="form-header text-center">
                                    <h2>Book Your ShuddhH2O</h2>
                                </div>

                                <div class="container-fluid" >
                                    <form class="newForm" #newForm="ngForm"  (ngSubmit)= "onSubmit()"  >
                                        <div class="row banner-form">
                                            <div class="col-lg-12">       
                                                    <div class="form-group">
                                                      <input type="text" required #name="ngModel"   class="form-control" name="name" placeholder="Name" [(ngModel)]="userModel.name" >
                                                    </div>
                                                   </div>
                                                   <div class="col-lg-12">      
                                                    <div class="form-group">
                                                      <input type="email" required #email="ngModel" class="form-control" name="email" placeholder="Email" [(ngModel)]="userModel.email">
                                                    </div>
                                                   </div>

                                                   <div class="col-lg-12">    
                                                    <div class="form-group">
                                                      <input type="text" required #number="ngModel" class="form-control" name="mobile" placeholder="Mobile" [(ngModel)]="userModel.mobile">
                                                    </div>
                                                   </div>
                                                   <div class="col-lg-12">     
                                                    <div class="form-group">
                                                      <input type="text" required #address="ngModel" class="form-control" name="address" placeholder="Address"  [(ngModel)]="userModel.address">
                                                    </div>
                                                   </div>


                                                   <div class="col-lg-12">     
                                                    <div class="form-group">
                                                      <input type="number" required #number="ngModel" class="form-control" name="number" placeholder="Number Of Bottles"  [(ngModel)]="userModel.number">
                                                    </div>
                                                   </div>
                            
                            <div class="submite-btn text-center">
                              <button type="submit"  class="btn btn-warning btn-xs" >submit</button>
                            </div>

                            
                        </div>
                            </form>
                          </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="camera_wrap " id="banner_slider1">
                <div class="hero_slider" data-src="./src/assets/img/banner/h3-banner1.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <!-- banner text wrap -->
                                <div class="banner-text-wrap">
                                    <span class="schoolbell fadeInUp" style="animation-duration: 1s; -webkit-animation-duration: 1s; animation-fill-mode: both; animation-delay: .0s;-webkit-animation-delay: .0s;">Enjoy great tasting bottled water</span>
                                    <h1 class="text-white fadeInUp" style="animation-duration: 1s; -webkit-animation-duration: 1s; animation-fill-mode: both; animation-delay: .2s;-webkit-animation-delay: .3s;">We deliver the<br> best pure mineral water</h1>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    
 
        <section class="pt-120 pb-80 top-shape">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <!-- section title -->
                        <div class="section-title text-center type3">
                            <span class="schoolbell">Welcome To ShudhH20</span>
                            <h2>Most Trusted Company</h2>
                            <p>ShudhH20 Water Industries is pleased to introduce itself as a new entrant in the market for supply of revitalizing, refreshing, pure clean & healthy mineralized water</p>
                        </div><!-- End of section title -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <!-- single feature inner -->
                        <div class="single-feature-inner text-center">
                            <div class="feature-icon"><img src="assets/img/icons/water-bottle.svg" class="svg" alt=""></div>
                            <h4>Soft Drinking Water</h4>
                            <p>Ziasy Technologies Ziasy Technologies Ziasy</p>
                        </div><!-- /.End of single feature inner -->
                    </div><!-- /.col -->
    
                    <div class="col-md-6 col-lg-3">
                        <!-- single feature inner -->
                        <div class="single-feature-inner text-center">
                            <div class="feature-icon"><img src="assets/img/icons/glass-of-water.svg" class="svg" alt=""></div>
                            <h4>Cholorine Free Water</h4>
                            <p>Ziasy Technologies Ziasy Technologies Ziasy</p>
                        </div><!--/.End of single feature inner -->
                    </div><!-- /.col -->
    
                    <div class="col-md-6 col-lg-3">
                        <!-- single feature inner -->
                        <div class="single-feature-inner text-center">
                            <div class="feature-icon"><img src="assets/img/icons/laboratory(1).svg" class="svg" alt=""></div>
                            <h4>Pure Mineralized Water</h4>
                            <p>Ziasy Technologies Ziasy Technologies Ziasy</p>
                        </div><!--/.End of single feature inner -->
                    </div><!-- /.col -->
    
                    <div class="col-md-6 col-lg-3">
                        <!-- single feature inner -->
                        <div class="single-feature-inner text-center">
                            <div class="feature-icon"><img src="assets/img/icons/laboratory.svg" class="svg" alt=""></div>
                            <h4>Total Home Solution</h4>
                            <p>Ziasy Technologies Ziasy Technologies Ziasy</p>
                        </div><!-- /.End of single feature inner -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.End of feature area -->
    
        <!-- our quality -->
        <section class="pt-120 pb-120 quality" data-bg-img='assets/img/qulity.png'>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-6">
                        <!-- section title -->
                        <div class="section-title type2">
                            <span class="schoolbell">Shortly About Us</span>
                            <h2>Learn About ShudhH20</h2>
                        </div>
                       <!-- End of section title -->
                       <div class="our-quality-inner">
                           <p>ShudhH20 water industries is pleased to introduce itself as a new entrant in the market for supply of revitalizing, refreshing, pure clean & healthy mineralized water.</p>
                           <div class="our-quality-feature media">
                               <div class="our-quality-left">
                                    <ul class="mb-0 list-unstyled">
                                        <li>
                                            <span>1</span>
                                            Calcium
                                        </li>
                                        <li>
                                            <span>2</span>
                                            Magnesium
                                        </li>
                                        <li>
                                            <span>3</span>
                                            Sodium
                                        </li>
                                        <li>
                                            <span>4</span>
                                            Potassium
                                        </li>
                                    </ul>
                               </div>
                               <div class="our-quality-right">
                                   <ul class="mb-0 list-unstyled">
                                        <li>
                                            <span>5</span>
                                            Chloride
                                        </li>
                                        <li>
                                            <span>6</span>
                                            Nitrate
                                        </li>
                                        <li>
                                            <span>7</span>
                                            TDS
                                        </li>
                                        <li>
                                            <span>8</span>
                                            PH
                                        </li>
                                    </ul>
                               </div>
                           </div>
                       </div><!-- /.our quality inner -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!--/.End of our quality -->
    
        <!-- bottole deliver -->
        <section class="pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <!-- section title -->
                        <div class="section-title text-center">
                            <span class="schoolbell">Water Bottles</span>
                            <h2>We Deliver Bottles</h2>
                        </div><!-- End of section title -->
                    </div>
                </div>

                






                <div >
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4" *ngFor="let u of table">
                      <div class="table">
                        <div class="single-bottle-inner text-center">
                            
                            <div class="bottle-image">
                                <img src="assets/img/icons/water-gallon.svg" alt="" class="svg">
                            </div>
                            <div class="single-bottle-text">
                                <h6>Product:{{u.name}}</h6>
                                <h6>price:{{u.price}}</h6>
                                <h6>category:{{u.category}}</h6>
                                <h6>discount:{{u.discount}}</h6>
                                <div>
                                 <button type="button"  class="btn btn-danger" (click)="onAddCart(u)" >Add_Cart</button>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    </div>
                    <!-- <div class="col-md-6 col-lg-4" >
                            <div class="table">
                              <div class="single-bottle-inner text-center">
                                  
                                  <div class="bottle-image">
                                      <img src="assets/img/icons/water-gallon.svg" alt="" class="svg">
                                  </div>
                                  <div class="single-bottle-text">
                                      <h4>{{u.name}}</h4>
                                      <h5>{{u.price}}</h5>
                                      <h5>{{u.category}}</h5>
                                      <h5>{{u.discount}}</h5>
                                      <div>
                                       <button type="button"  class="btn btn-danger" (click)="onAddCart(u)" >Add_Cart</button>
                                      </div>
                                  </div>
                              
                              </div>
                          </div>
                          </div> -->
                          <!-- <div class="col-md-6 col-lg-4" >
                                <div class="table">
                                  <div class="single-bottle-inner text-center">
                                      
                                      <div class="bottle-image">
                                          <img src="assets/img/icons/water-gallon.svg" alt="" class="svg">
                                      </div>
                                      <div class="single-bottle-text">
                                          <h4>{{u.name}}</h4>
                                          <h5>{{u.price}}</h5>
                                          <h5>{{u.category}}</h5>
                                          <h5>{{u.discount}}</h5>
                                          <div>
                                           <button type="button"  class="btn btn-danger" (click)="onAddCart(u)" >Add_Cart</button>
                                          </div>
                                      </div>
                                  
                                  </div>
                              </div>
                              </div> -->

                              <!-- Bottom Button Section-->
                    <div class="col-12">
                        <div class="deliver-btn text-center">
                                <a type="button" class="btn btn-warning"  routerLink="/service">View all Bottle</a> 
                            <!-- <a href="service.html" class="btn">View all Bottle</a> -->
                        </div>
                    </div>
                </div>
                </div>












            </div><!-- /.container -->
        </section><!-- /.End of bottole deliver -->
    
        <!-- testimonial area -->
        <section class="pt-120 pb-130 blue-bg2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <!-- section title -->
                        <div class="section-title text-center">
                            <span class="schoolbell">Our Feebacks</span>
                            <h2 class="text-white">Testimonials</h2>
                        </div><!--/. End of section title -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-12">
                        <div class="testionial-carousel-wrap style3">
                            <div class="owl-carousel testimonial-carousel">
                               <!-- single testimonial -->
                               <div class="single-testimonial">
                                <img src="assets/img/qort-icon.png" class='qurt-icon1' alt="">
                                   <p>There are many variations of passages of available but the majority have alteration in some form by inject humour or random words which don't look even slightly they will believe you.</p>
                                   <div class="testimonial-author media">
                                       
                                       <div class="testimonial-author-deg">
                                            <h4>Kevin Martin</h4>
                                            <p>Manager</p>
                                       </div>
                                   </div>
                               </div><!-- /.End of single testimonial -->
    
                               <!-- single testimonial -->
                               <div class="single-testimonial">
                                <img src="assets/img/qort-icon.png" class='qurt-icon1' alt="">
                                   <p>There are many variations of passages of available but the majority have alteration in some form by inject humour or random words which don't look even slightly they will believe you.</p>
                                   <div class="testimonial-author media">
                                      
                                       <div class="testimonial-author-deg">
                                            <h4>Jessica Brown</h4>
                                            <p>Co Founder</p>
                                       </div>
                                   </div>
                               </div><!--/. End of single testimonial -->
    
                               <!-- single testimonial -->
                               <div class="single-testimonial">
                                <img src="assets/img/qort-icon.png" class='qurt-icon1' alt="">
                                   <p>There are many variations of passages of available but the majority have alteration in some form by inject humour or random words which don't look even slightly they will believe you.</p>
                                   <div class="testimonial-author media">
                                 
                                       <div class="testimonial-author-deg">
                                            <h4>Paul Smith</h4>
                                            <p>Officer</p>
                                       </div>
                                   </div>
                               </div><!-- /.End of single testimonial -->
    
                               <!-- single testimonial -->
                               <div class="single-testimonial">
                                <img src="assets/img/qort-icon.png" class='qurt-icon1' alt="">
                                   <p>There are many variations of passages of available but the majority have alteration in some form by inject humour or random words which don't look even slightly they will believe you.</p>
                                   <div class="testimonial-author media">
                               
                                       <div class="testimonial-author-deg">
                                            <h4>Kevin Martin</h4>
                                            <p>Manager</p>
                                       </div>
                                   </div>
                               </div><!-- /.End of single testimonial -->
    
                               <!-- single testimonial -->
                               <div class="single-testimonial">
                                <img src="assets/img/qort-icon.png" class='qurt-icon1' alt="">
                                   <p>There are many variations of passages of available but the majority have alteration in some form by inject humour or random words which don't look even slightly they will believe you.</p>
                                   <div class="testimonial-author media">
                                     
                                       <div class="testimonial-author-deg">
                                            <h4>Jessica Brown</h4>
                                            <p>Co Founder</p>
                                       </div>
                                   </div>
                               </div><!--/. End of single testimonial -->
                               
                               <!-- single testimonial -->
                               <div class="single-testimonial">
                                <img src="assets/img/qort-icon.png" class='qurt-icon1' alt="">
                                   <p>There are many variations of passages of available but the majority have alteration in some form by inject humour or random words which don't look even slightly they will believe you.</p>
                                   <div class="testimonial-author media">
                                   
                                       <div class="testimonial-author-deg">
                                            <h4>Paul Smith</h4>
                                            <p>Officer</p>
                                       </div>
                                   </div>
                               </div><!-- /.End of single testimonial -->
    
                               <!-- single testimonial -->
                               <div class="single-testimonial">
                                <img src="assets/img/qort-icon.png" class='qurt-icon1' alt="">
                                   <p>There are many variations of passages of available but the majority have alteration in some form by inject humour or random words which don't look even slightly they will believe you.</p>
                                   <div class="testimonial-author media">
                                      
                                       <div class="testimonial-author-deg">
                                            <h4>Kevin Martin</h4>
                                            <p>Manager</p>
                                       </div>
                                   </div>
                               </div><!-- /.End of single testimonial -->
    
                               <!-- single testimonial -->
                               <div class="single-testimonial">
                                <img src="assets/img/qort-icon.png" class='qurt-icon1' alt="">
                                   <p>There are many variations of passages of available but the majority have alteration in some form by inject humour or random words which don't look even slightly they will believe you.</p>
                                   <div class="testimonial-author media">
                                    
                                       <div class="testimonial-author-deg">
                                            <h4>Jessica Brown</h4>
                                            <p>Co Founder</p>
                                       </div>
                                   </div>
                               </div><!-- /.End of single testimonial -->
                               
                               <!-- single testimonial -->
                               <div class="single-testimonial">
                                <img src="assets/img/qort-icon.png" class='qurt-icon1' alt="">
                                   <p>There are many variations of passages of available but the majority have alteration in some form by inject humour or random words which don't look even slightly they will believe you.</p>
                                   <div class="testimonial-author media">
                                     
                                       <div class="testimonial-author-deg">
                                            <h4>Paul Smith</h4>
                                            <p>Officer</p>
                                       </div>
                                   </div>
                               </div><!-- /.End of single testimonial -->
                            </div><!-- /.owl carousel -->
                        </div><!-- /.owl carousel wrap -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.End of testimonial area -->
    
        <!-- our location -->
        <section class="pt-120 pb-120 top-shape">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <!-- section title -->
                        <div class="section-title text-center">
                            <span class="schoolbell">Delivery Service in New York</span>
                            <h2>We’re Almost Everywhere</h2>
                        </div>
                        <!-- End of section title -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="our-location-wrap text-center">
                         
                            <div class="our-location marker1">
                                <div class="our-location-details">
                                    <p>666 Road Broklyn Street.</p>
                                    <a href="0008888999.html">000 8888 999</a>
                                    <a href="needhelp%40ShudhH20.html">needhelp@ShudhH20.com</a>
                                </div>
                            </div>
                            <div class="our-location marker2">
                                <div class="our-location-details">
                                    <p>666 Road Broklyn Street.</p>
                                    <a href="0008888999.html">000 8888 999</a>
                                    <a href="needhelp%40ShudhH20.html">needhelp@ShudhH20.com</a>
                                </div>
                            </div>
                            <div class="our-location marker3">
                                <div class="our-location-details">
                                    <p>666 Road Broklyn Street.</p>
                                    <a href="0008888999.html">000 8888 999</a>
                                    <a href="needhelp%40ShudhH20.html">needhelp@ShudhH20.com</a>
                                </div>
                            </div>
                            <div class="our-location marker4">
                                <div class="our-location-details">
                                    <p>666 Road Broklyn Street.</p>
                                    <a href="0008888999.html">000 8888 999</a>
                                    <a href="needhelp%40ShudhH20.html">needhelp@ShudhH20.com</a>
                                </div>
                            </div>
                            <div class="our-location marker5">
                                <div class="our-location-details">
                                    <p>666 Road Broklyn Street.</p>
                                    <a href="0008888999.html">000 8888 999</a>
                                    <a href="needhelp%40ShudhH20.html">needhelp@ShudhH20.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of our location -->
    
      
        <!-- call to action area -->
        <section class="pt-110 pb-100 blue-bg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <!-- cta title -->
                        <div class="callto-heading">
                            <span class="schoolbell">Free Delivery on All Orders</span>
                            <h2 class="text-white">We are Ready to Take Your Call! 000 8888 999</h2>
                        </div>
                        <!-- cta title -->
                    </div><!-- /.col -->
                    <div class="col-md-4">
                        <div class="call-action-btn text-right">
                            <a href="#" class="btn">Book Your Order Now</a>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.call to action area -->
        
        <!-- footer -->
        <footer class="footer secondery-bg">
            <div class="footer-top pt-110 pb-70">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <!-- footer widget -->
                            <div class="footer-widget">
                                <div class="widget-title">
                                    <h3>Address</h3>
                                </div>
                                <p>Sample Address, Indore (M.P.)</p>
                            </div><!-- /.End of footer widget -->
                        </div><!--/.col-->
        
                        <div class="col-md-4">
                            <!-- footer widget -->
                            <div class="footer-widget text-center">
                                <div class="widget-title">
                                    <h3>Follow</h3>
                                </div>
                                <div class="footer-social-area">
                                    <ul class="social-list mb--0 list-unstyled">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div><!-- End of footer widget -->
                        </div><!--/.col-->
        
                        <div class="col-md-4">
                            <!-- footer widget -->
                            <div class="footer-widget text-right">
                                <div class="widget-title">
                                    <h3>Contact</h3>
                                </div>
                                <div class="footer-contact-info">
                                    <a href="#">+91-1234567890</a>
                                    <a href="#">info@shuddhh20.com</a>
                                </div>
                            </div><!-- /.End of footer widget -->
                        </div><!--/.col-->
                    </div><!--/.row-->
                </div><!--/.container-->
            </div><!--/.footer bottom-->
            <div class="footer-bottom text-center">
                <div class="footer-bottom-text">
                    <p>© Copyright 2018 @<a href="#">ShuddhH20</a></p>
                </div>
            </div><!--/.footer bottom-->
        </footer><!-- /.End of footer -->
    
        <!-- back to top -->
        <div class="back-to-top">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>
       
        
        </body>
    
    
       
        
     