




<div class="banner_area1 clearfix ankit_bcg">
    <div class="slider_overlay_area slider_height">
        <div class="container slider_height">
            <div class="row slider_height">
                <div class="col-md-5 offset-md-7 slider_height">
                    <div class="banner-delivery-form">
                        <div class="form-header text-center">
                            <h2>Forgot-Password</h2>
                        </div>

                        <div class="container-fluid" >
                            <form class="newForm" #newForm="ngForm"  (ngSubmit)= "onSubmit()"  >
                                <div class="row banner-form">
                                        <div class="col-lg-12">        
                                                <div class="form-group">
                                                    <label>Enter Your Mobile_No</label>
                                                    <input type="number" required #mobile="ngModel" class="form-control" name="mobile" placeholder="mobile" [(ngModel)]="userModel.mobile">
                                                  <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="alert alert-danger">
                                                  <div *ngIf="mobile.errors.required">
                                                    Mobile Number is required.
                                                 </div>
                                                 </div>
                                                </div>
                                               </div>
                    
                    <div class="submite-btn text-center">
                    <button type="submit"  class="btn btn-primary center-block" >submit</button>
                    </div>
                </div>
                    </form>
                  </div>

              
                      <form class="newForm" #newForm="ngForm"  (ngSubmit)= "onSubmit()"  >
                          <div class="row banner-form">
                                         <div class="col-lg-12">  
                                              <div class="form-group">
                                                  <label>Enter Your OTP-Number</label>
                                                  <input type="otp" required #otp="ngModel" class="form-control" name="otp" placeholder="otp" [(ngModel)]="usermoddelll.otp">
                                                     </div>
                                                  </div>
              
              <div class="submite-btn text-center">
              <button type="submit"  class="btn btn-primary center-block" >OTP-Submit</button>
              </div>
          </div>
              </form>
          

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="camera_wrap " id="banner_slider1">
        <div class="hero_slider" data-src="./src/assets/img/banner/h3-banner1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">

                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>













<!-- 

<div class="container-fluid" >
  <form class="newForm" #newForm="ngForm" (ngSubmit)= "onSubmit()"  >
  
          <div class="col-md-6">        
                  <div class="form-group">
                    <label>Enter Your Mobile_No</label>
                    <input type="number" required #mobile="ngModel" class="form-control" name="mobile" placeholder="mobile" [(ngModel)]="userModel.mobile">
                  </div>
                 </div>
        
                

<div class="submite-btn text-center">
<button type="submit"  class="btn btn-primary center-block" >submit</button>
</div>

</form>
<hr>

<form class="newForm" #newForm="ngForm" (ngSubmit)= "ngSubmit()"  >

    <div class="col-md-6">        
        <div class="form-group">
          <label>Enter Your OTP</label>
          <input type="otp" required #otp="ngModel" class="form-control" name="otp" placeholder="otp" [(ngModel)]="usermoddelll.otp">
        </div>
       </div>
<div class="col-md-6 col-md-offset-3">
  <button type="submit"  class="btn btn-primary center-block">OTP_Submit</button>
  </div>      
</form>

</div> -->